.introduction {
  width: calc(100% - 270px);
  margin-left: 270px;
  margin-top: 80px;
}
.header {
  display: flex;
  margin-top: 40px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 48px;
}
.text {
  margin-top: 24px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
