.links {
  width: calc(100% - 270px);
  margin-left: 270px;
  margin-top: 80px;
}
.header {
  display: flex;
  margin-top: 40px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 48px;
}
.ul {
  list-style: none;
}
.li {
  height: 100px;
}
.itemList {
  display: flex;
  justify-content: space-evenly;
}
.li > h1 {
}
.li > img {
}
.li > div {
}
