.links {
  width: calc(100% - 270px);
  margin-left: 270px;
  margin-top: 80px;
}
.header {
  display: flex;
  margin-top: 40px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 48px;
}
.ul {
}
.li {
  height: 100px;
}
.itemList {
  display: flex;
  justify-content: space-evenly;
}
.itemContent {
}
.link {
  font-size: 32px;
  color: #333333;
}
.contactButton {
  font-size: 32px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
