.production {
  width: calc(100% - 270px);
  margin-left: 270px;
  margin-top: 80px;
}
.header {
  display: flex;
  margin-top: 40px;
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  font-size: 48px;
}
.ul {
  list-style: none;
}
.li {
  width: 90%;
  height: 150px;
  border-bottom: 1px solid #777777;
}
.li > h1 {
}
.itemContent {
}
