.sideBar {
  width: 270px;
  height: calc(100vh - 108px);
  background-color: #96cdff;
}
.button1 {
  margin-top: 16px;
}
button {
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #96cdff;
  width: 235px;
  height: 80px;
  font-size: 32px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 40px;
}
