.sideBar {
  width: 270px;
  height: calc(100vh - 80px);
  background-color: #96cdff;
  position: fixed;
  margin-top: 80px;
}

.button {
  display: block;
  border: 1px solid #000000;
  cursor: pointer;
  background-color: #96cdff;
  width: 248px;
  height: 80px;
  font-size: 32px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}
